
// #bckgrnd {
  // background-color: rgb(127, 126, 128);
  // background-image: url(../img/bar.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // overflow: hidden;
  // background-attachment:fixed;
  // position:absolute;
//
//   }


#bckImg, img.bGM {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index:-9999;
}

body {
  max-width: 100%;
  max-height: 100%;
}

.container {
  overflow: hidden;
  margin-top: -7%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-custom-md-2 {
  width: 17.3%;
}

.jumbotron {
  background-color: transparent;
  color:white;
}

.jumbotron  h1 {
  text-align: center;
  font-family: "Comfortaa";
  font-size: 60px;
  text-shadow: 0 0 2px rgb(168, 168, 167),
               0 0 5px rgb(168, 168, 167),
               0 0 8px rgb(168, 168, 167);
}


#logo {
  position: relative;
  left: 36%;
  top: 95px;
  img{
    width:27%;
  }
}

#myModal {
  background-color: black;
}

.modal-title {
  text-align: center;
  #span-logo {
    font-family: "Comfortaa";
    float:left;
  }
  #span-header{
    position:relative;
    left:-40px;
  }
}

#postSignUp {
  text-align: center;
}

.about {
  color:white;
  margin-top: -5%;
  h1 {
    text-align: center;
  }
}


#btnCont {
  margin-left: 41%;
}

#aboutText {
  padding: 3%;
  border-left: white 2px solid;
  border-right: white 2px solid;
  margin-bottom: 2%;

}

label.control-label {
  float: left;
}

footer {
  margin:106px;
}

.hidden-class {
  display:none;
}
