#bckImg, img.bGM {
  max-width: 100%;
  background-size: contain;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -9999; }

#bckImg {
  background-size: contain;
  max-width: 100%;
}
body {
  max-width: 100%;
  max-height: 100%; }

.container {
  overflow: hidden;
  margin-top: -7%; }

.col-centered {
  float: none;
  margin: 0 auto; }

.col-custom-md-2 {
  width: 17.3%; }

.jumbotron {
  background-color: transparent;
  color: white; }

.jumbotron h1 {
  text-align: center;
  font-family: "Comfortaa";
  font-size: 5em;
  letter-spacing: 0.1em;
  text-shadow: 0 0 2px #a8a8a7, 0 0 5px #a8a8a7, 0 0 8px #a8a8a7, 0 0 13px #a8a8a7; }

#sbtBtn {
  font-size: 2em;
  font-family: "Comfortaa";
  background-color: rgba(150, 150, 149, 0.74);
  border-color: transparent;
  text-shadow: 0 0 2px #a8a8a7, 0 0 5px #a8a8a7, 0 0 8px #a8a8a7, 0 0 13px #a8a8a7; }

#sbtBtn:hover {
  color: black; }

#sbtBtn:active {
  border: 0px; }

#sbtBtn:focus {
  outline: none; }


//MODAL
#mc_embed_signup form {
  background-color: rgba(150, 150, 149, 0.74);
  color:white;
  opacity: 0.74;
}

.modal-body {
  background-color: rgba(150, 150, 149, 0.74);
}

.modal-header {
  background-color: rgba(150, 150, 149, 0.74);
  color:white;
}

.modal-title {
  text-align: center; }

.modal-title #span-logo {
  font-family: "Comfortaa";
  float: left; }

.modal-title #span-header {
  position: relative;
  left: -40px; }

//END MODAL

#logo img {
  margin-top: 20%;
  margin-bottom:-8%;
  width: 302px; }

#aboutText {
  font-size: 1.2em;
  text-shadow: 0 0 2px #373638, 0 0 5px #373638, 0 0 8px #373638, 0 0 13px #373638, 0 0 15px #373638, 0 0 20px #373638; }

#postSignUp {
  text-align: center; }

.about {
  color: white;
  margin-top: -5%; }

.about h1 {
  text-align: center; }
//
// #btnCont {
//   margin-left: 38%; }

#aboutText {
  padding: 3%;
  border-left: white 2px solid;
  border-right: white 2px solid;
  margin-bottom: 2%; }

label.control-label {
  float: left; }

footer {
  margin-top: 30px;
  font-size: 1em;
  color: white;
  text-align: center; }

footer a {
  color: white; }

footer a:hover {
  color: white;
  text-decoration: none; }

footer a:visited {
  color: white;
  text-decoration: none; }

.hidden-class {
  display: none; }
